<div >
  <div class="row">
    <div class="col-sm-12 text-center">
      <br>
      <br>
      <br>
      <h2>Yoga Poses</h2>
      <p>Learn about the individual poses.</p>
    </div>
  </div>
<!--
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button id="searchByText" type="button" class="btn btn-default dropdown-toggle" style="border-radius: 0;" data-toggle="dropdown" aria-expanded="false">Search By <b>Title</b> <span class="caret"></span></button>
      <ul class="dropdown-menu" id="searchBy" role="menu">
        <li><a href="#Title">Title</a></li>
        <li><a href="#Keyword">Keyword</a></li>
        <li><a href="#Author">Author</a></li>
      </ul>
      <button class="btn btn-default" type="button" onclick="window.location.href='search.html';">Search</button>
    </span>
  </div>
-->


  <div id="Beginner" class="container-fluid bg-3 text-center" style="padding-top:50px; padding-bottom: 50px;">

    <% @poses.each do |pose| %>
       <div class="col-sm-6 col-md-4 center">
         <div class="thumbnail">
           <img src="<%=pose.imageSrc%>" class="img-responsive" style="width:480px; height:480px;" alt="Image">
           <div class="caption">
             <h3><%= pose.title%> </h3>
             <a href="#<%= pose.videoId%>" data-toggle="collapse" class="btn btn-default">
               <div>
                 <h5>Pose Details</h5>
               </div>
             </a>
             <div id="<%= pose.videoId%>" class="collapse">
               <p><%= pose.description%></p>
             </div>
           </div>
         </div>
       </div>
       <% end %>
    <br>

    <!-- <div class="row">
      <div class="col-sm-6 col-md-4">

          <div class="thumbnail">
              <img src="<%= asset_path('Poses/1.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                <div class="caption">
                  <h3>Seated Forward Bend</h3>
                </div>
                <a href="#seatedForwardBend" data-toggle="collapse" class="btn btn-default">
                  <div>
                    <h5>Pose Details</h5>
                  </div>
                </a>
                <div id="seatedForwardBend" class="collapse">
                  <p></p>
                </div>
              </div>
            </div>




              </div> -->

              <br>
            </div>
          </div>
