<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <h2>Yoga Poses</h2>
      <p>Learn about the individual poses</p>
    </div>
  </div>
  <br>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button id="searchByText" type="button" class="btn btn-default dropdown-toggle" style="border-radius: 0;" data-toggle="dropdown" aria-expanded="false">Search By <b>Title</b> <span class="caret"></span></button>
      <ul class="dropdown-menu" id="searchBy" role="menu">
        <li><a href="#Title">Title</a></li>
        <li><a href="#Keyword">Keyword</a></li>
        <li><a href="#Author">Author</a></li>
      </ul>
      <button class="btn btn-default" type="button" onclick="window.location.href='search.html';">Search</button>
    </span>
  </div>

  <div id="Beginner" class="container-fluid bg-3 text-center" style="padding-top:50px; padding-bottom: 50px;">
    <div class="row">
      <div class="col-sm-6 col-md-4">

          <div class="thumbnail">
              <img src="<%= asset_path('Poses/1.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                <div class="caption">
                  <h3>Seated Forward Bend</h3>
                </div>
                <a href="#seatedForwardBend" data-toggle="collapse">
                  <div>
                    <h5>Pose Details</h5>
                  </div>
                </a>
                <div id="seatedForwardBend" class="collapse">
                  <p>Seated forward bend stretchs the entire back and hamstrings. The legs are outstretched straight in front of the upper body and the chest is folded forwards, where the goal is to rest the upper half of the body on the legs.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                  <img src="<%= asset_path('Poses/4.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                    <div class="caption">
                      <h3>Warrior II</h3>
                    </div>
                    <a href="#warrior2" data-toggle="collapse">
                      <div>
                        <h5>Pose Details</h5>
                      </div>
                    </a>
                    <div id="warrior2" class="collapse">
                      <p>Warrior II is a core and leg strengthening pose. From Mountain (standing) position, the legs are spread apart wider, and one heel is turned to face outward with the other heel facing forward. Next, the arms are extended outwards, and parallel to the floor. Palms should face downwards and the body leans towards the heel that faces outwards. With every breath, the intention is to lean deeper into the stretch. </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2">
                  <div class="thumbnail">
                      <img src="<%= asset_path('Poses/5.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                        <div class="caption">
                          <h3>Advanced Tree Pose</h3>
                        </div>
                        <a href="#advancedtree" data-toggle="collapse">
                          <div>
                            <h5>Pose Details</h5>
                          </div>
                        </a>
                        <div id="advancedtree" class="collapse">
                          <p></p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                      <div class="thumbnail">
                          <img src="<%= asset_path('Poses/6.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                            <div class="caption">
                              <h3>Child Pose</h3>
                            </div>
                            <a href="#childpose" data-toggle="collapse">
                              <div>
                                <h5>Pose Details</h5>
                              </div>
                            </a>
                            <div id="childpose" class="collapse">
                              <p></p>
                            </div>
                          </div>
                        </div>
              </div>
              <br>

              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                      <img src="<%= asset_path('Poses/6.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                        <div class="caption">
                          <h3>Child Pose</h3>
                        </div>
                        <a href="#childpose" data-toggle="collapse">
                          <div>
                            <h5>Pose Details</h5>
                          </div>
                        </a>
                        <div id="childpose" class="collapse">
                          <p></p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                      <div class="thumbnail">
                          <img src="<%= asset_path('Poses/7.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                            <div class="caption">
                              <h3>Lotus Pose</h3>
                            </div>
                            <a href="#lotus" data-toggle="collapse">
                              <div>
                                <h5>Pose Details</h5>
                              </div>
                            </a>
                            <div id="lotus" class="collapse">
                              <p></p>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                          <div class="thumbnail">
                              <img src="<%= asset_path('Poses/11.jpg')%>" class="img-responsive" style="width:100%" alt="Image">
                                <div class="caption">
                                  <h3>Boat Pose</h3>
                                </div>
                                <a href="#boat" data-toggle="collapse">
                                  <div>
                                    <h5>Pose Details</h5>
                                  </div>
                                </a>
                                <div id="boat" class="collapse">
                                  <p></p>
                                </div>
                              </div>
                            </div>



              </div>

              <br>
            </div>
          </div>
